<h3>Creating a New Problem</h3>
<form method="post" name="frmLogin">
<table>
  <tr>
    <th>Problem ID</th>
    <td><input name="pid" type="text" size=4 ></td>
  </tr>
  <tr>
    <th>Group ID</th>
    <td><input name="gid" type="text" size=4 maxlength=4></td>
  </tr>
  <tr>
    <th>Type ID</th>
    <td><input name="tid" type="text" size=4 maxlength=4></td>
  </tr>
  <tr>
    <th>Problem Name</th>
    <td><input name="pname" type="text" size=32 maxlength=64></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="submit" value="Submit"></td>
  </tr>
</table>
</form>
