<h3>Find Submissions</h3>
<div align='center'>
<table class="table table-striped">
  <tr>
    <th>SubmissionID</th>
    <th>Date</th>
    <th>User ID</th>
    <th>Problem ID</th>
    <th>Status</th>
    <th>CPU</th>
    <th>Source</th>
  </tr>

  <{section name=id loop=$rs}>

  <{/section}>
