
<div align="center">
	<form method="post" name="frmLogin">
		<table class="table table-striped">
		  <tr>
			<th>PID</th>
			<td><input name="pid" type="text" size=4 maxlength=4></td>
			<th>UID</th>
			<td><input name="uid" type="text" size=20 maxlength=30></td>
			<td><input type="submit" name="submit" value="Find Problem" class="btn btn-primary"></td>
		  </tr>
		</table>	
	</form>
	<{if ($state == 1) }>
		<center><font size = 5><{ $uid }> <{ $pid }></font></center><br/>
		<table border="1" cellspacing="0"><!--tr><th>Name</th><th>Sid</th></tr-->
			<{section name=id loop=$sub }>
				<tr><td>
				<a href = submission_details.php?sid=<{$sub[id].sid}> ><{$sub[id].sid}></a>
				</td><td>
				<{$sub[id].date}>
				</td><td>
				<{$sub[id].status}>
				</td></tr>
			<{/section}>
		</table>	
	<{elseif ($state == 2) }>
		<center><font size = 5><{ $pid }></font></center><br/>
		<table border="1" cellspacing="0"><!--tr><th>Name</th><th>Sid</th></tr-->
			<{section name=id loop=$sub }>
				<tr><td><{ $sub[id].uid }></td><td>
					<{if ($sub[id].sid != '-1') }>
						<a href = submission_details.php?sid=<{$sub[id].sid}> ><{ $sub[id].sid }>.<{ $sub[id].source }></a>
					<{else}>
						<{ $sub[id].sid }>
					<{/if}>
				</td></tr>
			<{/section}>
		</table>
	<{elseif ($state eq 3) }>
        <center><font size=5><{ $pid }></font></center><br/>
        <table border="1" cellspacing="0" class="table table-striped">
            <{section name=id loop=$sub }>
                <tr><td><{$sub[id].pid}></td><td<{ $sub[id].uid }></td><td>
                    <{if ($sub[id].sid != '-1') }>
                        <a href="submission_details.php?sid=<{$sub[id].sid}>" ><{ $sub[id].sid }>.<{ $sub[id].source }></a>
                    <{else}>
                        <{ $sub[id].sid }>
                    <{/if}>
                </td><td>
                    <{$sub[id].status}>
                </td><td>
                    <{$sub[id].date}>
                </td></tr>
            <{/section}>
        </table>
    <{/if}>
</div>
