<form id="form1" method = "POST" enctype = "multipart/form-data">
	<table class="table table-striped">
		<!--
		<tr>
			<th>Sart time: &nbsp;</th>
		      <td><input name="start_time" type="datetime-local" size=32 maxlength=64 ></td>
		</tr>
		<tr>
			<th>End time: &nbsp;</th>
		      <td><input name="end_time" type="datetime-local" size=32 maxlength=64 ></td>
		</tr>
		-->
		<tr>
			<th>Problems: &nbsp;</th>
			<td><input type= "file" name="problems" size="16" /></td>
		</tr>
		<tr>
			<th>Students: &nbsp;</th>
			<td><input type= "file" name="students" size="16" /></td>
		</tr>
		<tr>
		    <td><input type="submit" name="sm" value="Submit" class="btn btn-primary"></td>
		</tr>
	</table>
</form>