<h3>Problem Panel</h3>
<div align="center">

<form method="post"name="frmLogin">
<table class="table table-striped">
  <tr>
    
	<td><input type="submit" name="submit" value="Add Problem" class="btn btn-primary" ></td>
  </tr>
</table>
</form>

<table class="table table-striped">
  <tr>
    <th width="20%">Problem ID</th>
    <th>Problem Name</th>
    <th>&nbsp;</th>
  </tr>

  <{section name=id loop=$rs }>
    <tr>
      <td><a href=problem.php?pid=<{ $rs[id].pid }> ><{ $rs[id].pid }></a></td>
      <td><{ $rs[id].pname }></td>
      <td><button class="btn"><a href=problem_panel.php?del=<{ $rs[id].pid }> onClick="return confirm('Are you sure that you want to DELETE this problem?')" ><b>Delete</b></a></button></td>
    </tr>
  <{/section}>
</table>
</div>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
