<form method="post" name="rejudge">
        <table class="table table-striped">
          <tr>
            <th>Rejudge Problem ID</th>
			<td><input type="number" name="pid"></td>
			<td><input type="submit" value="Rejudge" name="rejudge" class="btn btn-primary" /></th></td>	
	    </tr>
        </table>
        </form>
<!---<form method="post" name="rejudge-all">		
	<table>	
	<td><input type="submit" value="Rejudge ALL" name="rejudge-all" class="btn btn-primary" /></td>
	</table>
</form>--->
<head> 
  <style type="text/css">
		input[type="number"]
		{
			height:2em;
			width:6em;
		}
  </style>
</head>
