<div id="perm-links">
  <ul>
    <li><a href=index.php>Home</a></li>
    <{if $is_login }>
      <li><a href=logout.php>Logout</a></li>
      <li><a href=profile.php>Profile</a></li>
    <{else}>
      <li><a href=login.php>Login</a></li>
      <li><a href=register.php>Register</a></li>
    <{/if}>
  </ul>
</div>

<h1 id="top">National Tsing Hua University Online Judge</h1>
