<head>
  <meta charset="utf-8">
  <title><{ $title }></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content"">

  <!-- Le styles -->
  <link href="./css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
  <link href="./css/bootstrap-responsive.css" rel="stylesheet">
</head>
